#about {
  width: 100%;

  >section {
    position: relative;
    margin: 0 auto;
    padding: 5rem 1rem;
    width: 100%;
    max-width: $maxWidth;

    header {
      display: flex;
      flex-flow: column;
      align-items: center;
      margin: 0 auto;
      width: 100%;
      max-width: 480px;
      transition: 0.5s;

      @media screen and (min-width: 800px) {
        align-items: flex-start;
        max-width: 100%;
      }

      h6 {
        position: relative;
        font-size: 2rem;
      }

      p {
        position: relative;
        margin-top: 0.25rem;
        line-height: 1.75rem;
        max-width: 100%;
        font-family: "Roboto Mono", monospace;

        @media screen and (min-width: 800px) {
          max-width: calc((100% - 4rem) / 2);
        }
      }
    }

    >section {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      margin: 3rem auto 0;
      width: 100%;
      max-width: 480px;
      transition: 0.5s;

      @media screen and (min-width: 800px) {
        align-items: flex-start;
        max-width: 100%;
      }

      @media screen and (min-width: 1024px) {
        align-items: center;
      }

      >figure {
        position: relative;
        width: 10rem;

        @media screen and (min-width: 800px) {
          width: calc(40% - 2rem);
          aspect-ratio: 3 / 4;
        }

        @media screen and (min-width: 1024px) {
          width: calc((100% - 4rem) / 2);
        }

        img {
          position: relative;
          z-index: 1;
          width: 10rem;
          aspect-ratio: 1 / 1;
          border-radius: 0.125rem;

          @media screen and (min-width: 800px) {
            width: 100%;
            aspect-ratio: 3 / 4;
          }
        }

        svg {
          position: absolute;
          z-index: 0;
          top: -1.5rem;
          right: -1.5rem;
          width: 5rem;
          aspect-ratio: 1 / 1;

          @media screen and (min-width: 800px) {
            width: 15rem;
          }
        }
      }

      >section {
        position: relative;
        display: flex;
        flex-flow: column;
        gap: 2rem;
        width: 100%;
        transition: 0.5s;

        @media screen and (min-width: 800px) {
          width: calc(60% - 2rem);
        }

        @media screen and (min-width: 1024px) {
          width: calc((100% - 4rem) / 2);
        }

        h6 {
          position: relative;
          font-size: 1.5rem;
        }

        article {

          p {
            position: relative;
            margin-top: 0.25rem;
            line-height: 1.75rem;
            font-size: 0.875rem;
            font-family: "Roboto Mono", monospace;
          }
        }

        >section {
          display: flex;
          flex-flow: row wrap;
          gap: 2rem;
          width: 100%;

          ul {
            display: flex;
            flex-flow: column;
            gap: 1.5rem;
            width: 100%;

            @media screen and (min-width: 480px) {
              width: calc((100% - 2rem) / 2);

              &.r1 {
                width: 100%;
              }
            }

            li {
              display: flex;
              align-items: flex-start;
              gap: 1rem;

              i {
                position: relative;
                line-height: 2rem;
                color: darkgray;
              }

              section {

                strong {
                  position: relative;
                  padding: 0 0.125rem;
                  line-height: 2rem;
                }

                p {
                  position: relative;
                  margin-top: 0.25rem;
                  padding: 0 0.125rem;

                  time,
                  span {
                    font-size: 0.875rem;
                    color: darkgray;
                    letter-spacing: 1px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}