#contact {
  width: 100%;

  >section {
    position: relative;
    margin: 0 auto;
    padding: 5rem 1rem;
    width: 100%;
    max-width: $maxWidth;

    header {
      display: flex;
      flex-flow: column;
      align-items: center;

      h6 {
        position: relative;
        max-width: 800px;
        text-align: center;
        font-size: 2rem;
      }

      p {
        position: relative;
        margin-top: 0.25rem;
        max-width: 640px;
        line-height: 1.75rem;
        text-align: center;
        font-family: "Roboto Mono", monospace;
      }
    }

    >section {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: 2rem;
      margin-top: 3rem;
      width: 100%;

      section {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        gap: 1rem;
        margin: 0 auto;
        width: 100%;
        max-width: 30rem;
        transition: 0.5s;

        @media screen and (min-width: 800px) {
          width: calc((100% - 2rem) / 2);
        }

        label {
          width: 100%;
          font-family: "Roboto Mono", monospace;

          input {
            padding: 1rem 0;
            width: 100%;
            line-height: 2rem;
            border-bottom: 1px solid #000;
            font-family: "Roboto Mono", monospace;
          }

          textarea {
            padding: 1rem 0;
            width: 100%;
            line-height: 2rem;
            height: 12rem;
            border-bottom: 1px solid #000;
            font-family: "Roboto Mono", monospace;
          }
        }

        a,
        button {
          position: relative;
          display: inline-block;
          padding: 0 2rem;
          line-height: 3rem;
          font-family: "Roboto Mono", monospace;
          font-weight: 400;
          background-color: #000;
          color: #fff;
          border-radius: 0.125rem;

          i {
            line-height: 3rem;
            color: #fff;
          }
        }
      }


      iframe {
        margin: 0 auto;
        width: 100%;
        max-width: 30rem;
        aspect-ratio: 4 / 3;
        transition: 0.5s;

        @media screen and (min-width: 800px) {
          width: calc((100% - 2rem) / 2);
        }
      }
    }
  }
}