@function hsba($H, $S, $B, $a: 1) {
    $x: (200 - $S) * $B * 0.01;
    $l: round($x * 0.5) * 0.01;

    @if ($x ==0 or $x ==200) {
        @return hsla($H, 0%, percentage($l), $a
    );
}

@else {
    @if ($x <=100) {
        $s: round(calc($S * $B / $x)) * 0.01;
        @return hsla($H, percentage($s), percentage($l), $a);
    }

    @else {
        $s: round(calc($S * $B / (200 - $x))) * 0.01;
        @return hsla($H, percentage($s), percentage($l), $a);
    }
}
}

@function hsb($H, $S, $B) {
    @return hsba($H, $S, $B, 1);
}