>li.info {
    position: relative;
    margin-top: 1rem;
    padding: 1.5rem 0 2rem;
    width: 100%;
    height: initial;
    background-color: #fff;
    border-radius: 0.75rem;
    border: 1px solid var(--col-border);

    >h6 {
        position: relative;
        margin-left: 1.5rem;
        width: calc(100% - 1.5rem);
        font-size: 1rem;
    }


    >ul {
        position: relative;
        margin-top: 0.75rem;
        width: 100%;
        height: initial;
        font-size: 0;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;

        li {
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin-right: 1.5rem;
            width: 174px;
            height: 198px;
            border: 1px solid var(--col-border);
            border-radius: 0.25rem;
            cursor: pointer;

            &:nth-child(1) {
                margin-left: 1.5rem;
            }

            >div {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;

                >img {
                    position: absolute;
                    top: 1.5rem;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 54px;
                    height: 54px;
                    border-radius: 50%;
                    border: 1px solid var(--col-border);
                }

                >p:nth-child(2) {
                    position: absolute;
                    top: calc(1.5rem + 54px + 1rem);
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    font-size: 1rem;
                    font-weight: normal;
                    text-align: center;
                    overflow: hidden;
                }

                >p:nth-child(3) {
                    position: absolute;
                    top: calc(1.5rem + 54px + 1rem + 1.25rem);
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    font-size: 0.875rem;
                    font-weight: normal;
                    text-align: center;
                    color: #7f7f7f;
                    overflow: hidden;
                }

                >button {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 1rem;
                    width: 83px;
                    line-height: 30px;
                    height: 30px;
                    font-size: 1rem;
                    background-color: steelblue;
                    border-radius: 0.25rem;
                    color: #fff;
                }
            }
        }
    }

    >button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        z-index: 1;

        &:nth-last-child(3) {
            top: 1.5rem;
            right: 1.5rem;
            transform: unset;
            width: initial;
            height: initial;
            font-size: 1rem;
            color: steelblue;
            font-weight: bolder;
            border-radius: unset;
        }

        &:nth-last-child(2) {
            display: none;
            left: 1rem;
        }

        &:nth-last-child(1) {
            right: 1rem;
        }

        >i {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 1.5rem;
            text-align: center;
            color: rgba(0, 0, 0, 0.5);
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 50%;
        }
    }
}