// 頂部
>div:nth-child(1) {
    position: relative;
    display: block;
    width: 100%;
    height: 58px;
    overflow: hidden;

    &.tag>div>i {
        display: block;
    }

    // 左側
    >div {
        position: relative;
        display: block;
        width: 100%;
        height: 58px;
        font-size: 0;

        // 頭像
        >a {
            position: absolute;
            display: block;
            top: 50%;
            left: 0.875rem;
            transform: translateY(-50%);
            width: initial;
            height: initial;
            object-fit: cover;

            >img {
                position: relative;
                display: block;
                width: 32px;
                height: 32px;
                border: 1px solid var(--col-border);
                border-radius: 50%;
                object-fit: cover;
            }
        }

        // 類別
        >i {
            position: absolute;
            display: none;
            top: 50%;
            left: calc(0.875rem + 1.125rem);
            width: 1.125rem;
            line-height: 1.125rem !important;
            height: 1.125rem;
            font-size: 0.625rem;
            text-align: center;
            background-color: red;
            color: #fff;
            border-radius: 50%;
        }

        // 名稱／標題
        >div {
            position: absolute;
            display: block;
            top: 50%;
            left: calc(0.875rem + 30px + 0.75rem);
            transform: translateY(-50%);
            width: initial;
            height: initial;

            >a {
                position: relative;
                display: block;
                line-height: 1.125rem;
                font-size: 0.875rem;
                font-weight: normal;
                color: var(--col-text-lighter);

                &.bold {
                    font-weight: bolder;
                    color: #000;
                }

                &.tag::before {
                    content: "#";
                }
            }
        }
    }

    >button {
        position: absolute;
        display: block;
        top: 50%;
        right: 0.875rem;
        transform: translateY(-50%);
        width: initial;
        height: initial;

        >i {
            position: relative;
            display: block;
            width: 1.25rem;
            line-height: 1.25rem;
            height: 1.25rem;
            font-size: 1rem;
            text-align: center;
        }
    }
}