>section[pg="search"] {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding-top: 1.5rem;
    padding-bottom: 5rem;
    width: 100%;
    height: 100%;
    font-size: 0;
    overflow-x: hidden;
    overflow-y: scroll;

    @media screen and (min-width: 750px) {
        width: calc(100% - 1.25rem * 2);
    }

    @media screen and (min-width: 785px) {
        left: calc(72px / 2 + 50%);
        width: calc(100% - 72px - 1.25rem * 2);
    }

    @media screen and (min-width: 1112px) {
        max-width: 935px;
    }

    @media screen and (min-width: 1280px) {
        left: calc(248px / 2 + 50%);
    }

    /*
    搜尋欄
  */
    >div {
        position: relative;
        margin-left: 1rem;
        width: calc(100% - 2rem);
        height: 40px;
        background-color: #ededed;
        border-radius: 0.5rem;

        @media screen and (min-width: 750px) {
            margin-left: 0;
            width: 100%;
        }

        >i {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 1.25rem;
            line-height: 40px;
            height: 40px;
            font-size: 1rem;
            color: #868686;
        }

        >input {
            position: relative;
            padding-left: calc(1.25rem + 1.75rem);
            padding-right: 1rem;
            width: 100%;
            line-height: 40px;
            height: 40px;
            font-size: 1rem;
            background-color: transparent;
        }
    }

    /*
    列表
  */
    >ul {
        position: relative;
        margin-top: 28px;
        width: 100%;
        height: initial;
        font-size: 0;

        @media screen and (min-width: 750px) {
            margin-top: 0;
        }

        >li {
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin-right: 1px;
            margin-top: 1px;
            padding-top: calc((100% - 1px * 2) / 3 * 2 + 1px);
            width: calc((100% - 1px * 2) / 3);

            @media screen and (min-width: 750px) {
                margin-right: 28px;
                margin-top: 28px;
                padding-top: calc((100% - 28px * 2) / 3 * 2 + 28px);
                width: calc((100% - 28px * 2) / 3);
            }

            &:nth-child(3n) {
                margin-right: 0;
            }

            &:nth-child(1),
            &:nth-child(6n + 6),
            &:nth-child(6n + 7) {
                >button {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 0.125rem;
                }
            }

            >button {
                position: absolute;
                left: 0;
                right: 0;
                padding-top: 100%;
                width: 100%;
                border-radius: 0.125rem;
                overflow: hidden;

                &:nth-child(1) {
                    top: 0;
                }

                &:nth-child(2) {
                    bottom: 0;
                }

                @media (hover: hover) and (pointer: fine) {
                    &:hover {
                        >div {
                            display: block;
                        }
                    }
                }

                >img {
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                }

                >div {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    display: none;

                    >ul {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        margin-right: -50%;
                        width: 100%;
                        height: 1.5rem;
                        font-size: 0;
                        text-align: center;

                        >li {
                            position: relative;
                            display: inline-block;
                            vertical-align: top;
                            margin: 0 0.875rem;
                            width: initial;
                            height: 1.5rem;

                            >i {
                                position: relative;
                                display: inline-block;
                                vertical-align: top;
                                margin-right: 0.5rem;
                                width: 1.5rem;
                                line-height: 1.5rem;
                                height: 1.5rem;
                                font-size: 1.25rem;
                                color: #fff;
                            }

                            >p {
                                position: relative;
                                display: inline-block;
                                vertical-align: top;
                                line-height: 1.5rem;
                                height: 1.5rem;
                                font-size: 1.25rem;
                                font-weight: bolder;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}