>section[pg="user"] {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding-bottom: 5rem;
    width: 100%;
    height: 100%;
    font-size: 0;
    overflow-x: hidden;
    overflow-y: scroll;

    @media screen and (min-width: 750px) {
        width: calc(100% - 1.25rem * 2);
    }

    @media screen and (min-width: 785px) {
        left: calc(72px / 2 + 50%);
        width: calc(100% - 72px - 1.25rem * 2);
    }

    @media screen and (min-width: 1112px) {
        max-width: 935px;
    }

    @media screen and (min-width: 1280px) {
        left: calc(248px / 2 + 50%);
    }

    >div:nth-child(2) {
        position: relative;
        width: 100%;
        height: 50px;

        >ul {
            position: relative;
            width: 100%;
            height: 50px;
            font-size: 0;
            text-align: center;

            >li {
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: calc(100% / 3);
                height: 50px;

                @media screen and (min-width: 750px) {
                    margin: 0 28px;
                    padding-right: 6px;
                    width: initial;
                }

                &[sel="1"],
                &[sel="true"] {
                    border-top: 1px solid #000;

                    >i,
                    >p {
                        line-height: 48px !important;
                        height: 48px;
                        color: #000;
                    }

                    ;
                }

                >i {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    width: 30px;
                    line-height: 50px !important;
                    height: 50px;
                    font-size: 1.25rem;
                    text-align: center;
                    color: var(--col-text-lighter);

                    @media screen and (min-width: 750px) {
                        font-size: 0.75rem;
                    }
                }

                >p {
                    position: relative;
                    display: none;
                    line-height: 50px;
                    height: 50px;
                    font-size: 0.75rem;
                    font-weight: bolder;
                    text-align: center;
                    color: var(--col-text-lighter);

                    @media screen and (min-width: 750px) {
                        display: inline-block;
                        vertical-align: top;
                    }
                }
            }
        }
    }

    @import "userTop";
    @import "userList";
}