$_1: calc(0.125rem / 2);
$_2: 0.125rem;
$_4: 0.25rem;
$_6: 0.375rem;
$_8: 0.5rem;
$_10: 0.625rem;
$_12: 0.75rem;
$_14: 0.875rem;
$_16: 1rem;
$_18: 1.125rem;
$_20: 1.25rem;
$_22: 1.375rem;
$_24: 1.5rem;
$_26: 1.625rem;
$_28: 1.75rem;
$_32: 2rem;
$_34: 2.125rem;
$_36: 2.25rem;
$_40: 2.5rem;
$_44: 2.75rem;
$_48: 3rem;
$_56: 3.5rem;
$_60: 3.75rem;
$_64: 4rem;
$_72: 4.5rem;
$_76: 4.75rem;
$_80: 5rem;
$_84: 5.25rem;
$_88: 5.5rem;
$_92: 5.75rem;
$_96: 6rem;
$_104: 6.5rem;
$_112: 7rem;
$_128: 8rem;
$_160: 10rem;
$_192: 12rem;
$_224: 14rem;
$_256: 16rem;
$_320: 20rem;
$_360: 22.5rem;
$_400: 25rem;
$_440: 27.5rem;
$_480: 30rem;
$_512: 32rem;
$_640: 40rem;
$_720: 45rem;
$_768: 48rem;
$_800: 50rem;
$_960: 60rem;
$_1024: 64rem;
$_1280: 80rem;
$_1440: 90rem;

$brand1: #{hsb(223, 10, 95)};
$brand2: #{hsb(223, 28, 93)};
$brand3: #{hsb(223, 46, 91)};
$brand4: #{hsb(223, 64, 89)};
$brand5: #{hsb(223, 82, 88)};
$brand6: #{hsb(223, 64, 71)};
$brand7: #{hsb(223, 91, 54)};
$brand8: #{hsb(223, 95, 37)};
$brand9: #{hsb(223, 100, 20)};

$success1: #{hsb(115, 10, 95)};
$success2: #{hsb(115, 28, 93)};
$success3: #{hsb(115, 46, 91)};
$success4: #{hsb(115, 64, 89)};
$success5: #{hsb(115, 82, 88)};
$success6: #{hsb(115, 64, 71)};
$success7: #{hsb(115, 91, 54)};
$success8: #{hsb(115, 95, 37)};
$success9: #{hsb(115, 100, 20)};

$notify1: #{hsb(40, 10, 95)};
$notify2: #{hsb(40, 28, 93)};
$notify3: #{hsb(40, 46, 91)};
$notify4: #{hsb(40, 64, 89)};
$notify5: #{hsb(40, 82, 88)};
$notify6: #{hsb(40, 64, 71)};
$notify7: #{hsb(40, 91, 54)};
$notify8: #{hsb(40, 95, 37)};
$notify9: #{hsb(40, 100, 20)};

$error1: #{hsb(5, 10, 95)};
$error2: #{hsb(5, 28, 93)};
$error3: #{hsb(5, 46, 91)};
$error4: #{hsb(5, 64, 89)};
$error5: #{hsb(5, 82, 88)};
$error6: #{hsb(5, 64, 71)};
$error7: #{hsb(5, 91, 54)};
$error8: #{hsb(5, 95, 37)};
$error9: #{hsb(5, 100, 20)};

$info1: #{hsb(265, 10, 95)};
$info2: #{hsb(265, 28, 93)};
$info3: #{hsb(265, 46, 91)};
$info4: #{hsb(265, 64, 89)};
$info5: #{hsb(265, 82, 88)};
$info6: #{hsb(265, 64, 71)};
$info7: #{hsb(265, 91, 54)};
$info8: #{hsb(265, 95, 37)};
$info9: #{hsb(265, 100, 20)};

$text1: #{hsb(223, 1, 97)};
$text2: #{hsb(223, 5, 83)};
$text3: #{hsb(223, 10, 66)};
$text4: #{hsb(223, 15, 50)};
$text5: #{hsb(223, 20, 35)};
$text6: #{hsb(223, 37, 28)};
$text7: #{hsb(223, 55, 22)};
$text8: #{hsb(223, 72, 16)};
$text9: #{hsb(223, 90, 10)};

$border1: #{hsb(223, 1, 92)};
$border2: #{hsb(223, 1, 81)};
$border3: #{hsb(223, 1, 71)};
$border4: #{hsb(223, 1, 60)};
$border5: #{hsb(223, 1, 50)};

$safeT: env(safe-area-inset-top);
$safeL: env(safe-area-inset-left);
$safeB: env(safe-area-inset-bottom);
$safeR: env(safe-area-inset-right);

* {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 0;
    border: none;
    outline: none;
    background-color: transparent;
    color: $text9;
    word-wrap: break-word;
    text-decoration: none;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    touch-action: manipulation;

    &::-webkit-scrollbar {
        display: none;
    }

    &.rz {

        &::-webkit-scrollbar {
            display: block;
            width: 0.25rem;
            background-color: $text1;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $text2;
        }

        &.vert {
            resize: vertical;
        }
    }

    -webkit-touch-callout: inherit;
    -webkit-user-select: inherit;
    -khtml-user-select: inherit;
    -moz-user-select: inherit;
    -ms-user-select: inherit;
    user-select: inherit;

    [user-select="false"],
    [user-select="0"] {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    [user-select="true"],
    [user-select="1"] {
        -webkit-touch-callout: initial;
        -webkit-user-select: initial;
        -khtml-user-select: initial;
        -moz-user-select: initial;
        -ms-user-select: initial;
        user-select: initial;
    }

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

img {
    content: url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==");
    object-fit: cover;
    // background-color: $border1;

    &.out {
        content: url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==") !important;
    }

    &[src]:not([src=""]) {
        content: unset;
    }

    // &[data-src] {
    //     background: linear-gradient(to right, #EEF0F3, #E0E2E8, #EEF0F3);
    // }
}

textarea {
    resize: none;
}

input,
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input,
textarea {

    &::placeholder {
        color: $text2;
        opacity: 1;
    }

    &::-webkit-input-placeholder {
        color: $text2;
    }

    &::-ms-input-placeholder {
        color: $text2;
    }
}

a[href]:not([href=""]),
button {
    cursor: pointer;
}

span,
b,
strong,
i,
em,
time {
    line-height: inherit;
    font-size: inherit;
    color: inherit;
}