<section id="client">
  <section>
    <header>
      <h6 class="at delay">Lorem ipsum dolor sit.</h6>
      <p class="at delay">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime dolorem placeat omnis.</p>
    </header>
    <section id="body-client" row="6">
      <section>
        <div :for="e in items">
          <figure class="at delay">
            <img :src="https://picsum.photos/256?random={{ e }}" alt="">
          </figure>
          <h6 class="at delay">Lorem, ipsum.</h6>
          <strong class="at delay">Lorem.</strong>
          <p class="at delay">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias maiores nihil consequatur?</p>
        </div>
      </section>
      <button>
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button>
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </section>
  </section>
</section>

<script>
  const section7 = new PD({
    id: "client",
    data: {
      title: "Clients",
      content: "What clients say...",
      items: Array.from({ length: 5 }, (_, i) => i)
    },
    next: function () {
      section7.dom.querySelectorAll("*.delay").forEach(e => delay_observer.observe(e));

      if (!"body-client".$ || "body-client".$.$child(0).$childAll.length < 3) return;

      "body-client".$.$child(0).$childAll.forEach(e => {
        var node = e._$(true);
        node.$selAll("*.at.delay").forEach(e => e.class_("at").class_("delay")._attr({ done: 1 }));
        "body-client".$.$child(0)._child(node);
      });

      var clientTimer;
      "body-client".$.$child(1)._click(function () {
        if (clientTimer) return;

        var container = "body-client".$.$child(0);
        var rowWidth = "body-client".$.$child([0, 0]).clientWidth;
        var pageRow = Math.floor(container.clientWidth / rowWidth);
        var offsetStart = container.scrollLeft;
        var moveLength = rowWidth + 16;
        var moveLengthMax = offsetStart - moveLength <= 0 ? offsetStart : moveLength;
        var offsetEnd = offsetStart - moveLengthMax;

        var center = "body-client".$.$child(0).$childAll.length / 2;

        if (moveLengthMax === 0) {
          container.scrollLeft = (Math.floor(center / pageRow) + center % pageRow + pageRow - 1) * moveLength;

          offsetStart = container.scrollLeft;
          moveLength = rowWidth + 16;
          moveLengthMax = offsetStart - moveLength <= 0 ? offsetStart : moveLength;
          offsetEnd = offsetStart - moveLengthMax;
        };

        var counter = 0;
        clientTimer = setInterval(() => {
          var move = Math.ceil((container.scrollLeft - offsetEnd) / Math.floor((container.scrollLeft - offsetEnd) / 20));
          counter += move;
          if (counter < moveLengthMax) return container.scrollLeft -= move;
          clearInterval(clientTimer);
          clientTimer = null;
          container.scrollLeft = offsetEnd;
        }, 10);
      });

      "body-client".$.$child(2)._click(function () {
        if (clientTimer) return;

        var container = "body-client".$.$child(0);
        var rowWidth = "body-client".$.$child([0, 0]).clientWidth;
        var pageRow = Math.floor(container.clientWidth / rowWidth);
        var maxScroll = container.scrollWidth - container.clientWidth;
        var offsetStart = container.scrollLeft;
        var moveLength = rowWidth + 16;
        var moveLengthMax = offsetStart + moveLength >= maxScroll ? maxScroll - offsetStart : moveLength;
        var offsetEnd = offsetStart + moveLengthMax;
        var center = "body-client".$.$child(0).$childAll.length / 2;

        if (moveLengthMax === 0) {
          container.scrollLeft = (Math.floor(center / pageRow) + center % pageRow - 1) * moveLength;

          offsetStart = container.scrollLeft;
          moveLength = rowWidth + 16;
          moveLengthMax = offsetStart + moveLength >= maxScroll ? maxScroll - offsetStart : moveLength;
          offsetEnd = offsetStart + moveLengthMax;
        };

        var counter = 0;
        clientTimer = setInterval(() => {
          var move = Math.ceil((offsetEnd - container.scrollLeft) / Math.floor((offsetEnd - container.scrollLeft) / 20));
          counter += move;
          if (counter < moveLengthMax) return container.scrollLeft += move;
          clearInterval(clientTimer);
          clientTimer = null;
          container.scrollLeft = offsetEnd;
        }, 10);
      });
    }
  })
</script>