<header id="header">
  <section>
    <article>
      <h1 class="at delay">Lorem ipsum dolor <strong>sit amet consectetur</strong></h1>
      <h2 class="at delay">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis facilis necessitatibus sequi.</h2>
      <section>
        <a class="at delay" href="https://github.com/pardnchiu/web-personal-page-with-blog" target="_blank">
          <i class="fa-brands fa-github"></i>
          GitHub
        </a>
        <a class="at delay" href="https://linkedin.com/in/pardnchiu" target="_blank">
          <i class="fa-brands fa-linkedin-in"></i>
          Linkedin
        </a>
      </section>
    </article>
  </section>
</header>
<script>
  const header = new PD({
    id: "header",
    next: function () {
      header.dom.querySelectorAll("*.delay").forEach(e => delay_observer.observe(e));
    }
  });
</script>