<section id="portfolio">
  <section id="body-portfolio">
    <ul></ul>
  </section>
</section>
<script>
  const portfolio = new PD({
    id: "portfolio",
    data: {},
    next: function () {
      const filterExist = "body-portfolio".$.$child(0) ? "body-portfolio".$.$child(0).tagName === "UL" : false;
      const gap = 32;
      const vw = document.body.clientWidth;
      const mw = (vw >= 1024 ? 1024 : vw) - 32;
      const rw =
        vw >= 1024 ? Math.floor((mw - gap * 2) / 3) :
          vw >= 480 ? Math.floor((mw - gap) / 2) : mw;
      let offsetAry =
        vw >= 1024 ? filterExist ? [80, 80, 80] : [0, 0, 0] :
          vw >= 480 ? filterExist ? [80, 80] : [0, 0] : filterExist ? [80] : [0];
      let map = {};

      let dom = "temp"._()
      ary.forEach((e, i) => {
        if (e.tag) map[e.tag.toUpperCase()] = 1;
        if (e === ary.$(-1) && "body-portfolio".$.$child(0) && "body-portfolio".$.$child(0).tagName === "UL") {
          ["ALL"]._(Object.keys(map)).forEach((e, i) =>
            "body-portfolio".$.$child(0)._child([
              `li${i === 0 ? ".sel" : ""}`._(e)._click(function () {
                "body-portfolio".$._attr({ "filter-key": e });
                if ("body-portfolio".$.$child(0).$sel("li.sel")) "body-portfolio".$.$child(0).$sel("li.sel").class_("sel");
                this._class("sel");
                updatePortfolio();
              })
            ])
          )
        };
        e.ratio = Number(i === 1 ? 1 : 2);

        const timer = setTimeout(function () {
          clearTimeout(timer);

          const h = Math.min(...offsetAry);
          const i = offsetAry.indexOf(h);
          const ratio = vw >= 480 ? e.ratio : 16 / 10;
          const photo = "figure.at.delay"._([
            "img"._({ src: "https://picsum.photos/512/256?random=" + e.sn }),
            "img"._({ src: "https://picsum.photos/512/256?random=" + e.sn }),
            "figcaption"._("Lorem ipsum dolor sit.")
          ]);
          const row = "a"._({
            style: {
              top: `${offsetAry[i]}px`,
              left: `${16 + (rw + gap) * i}px`,
              width: `${rw}px`,
              height: `${rw / ratio}px`
            },
            ratio: e.ratio,
            "filter-tag": String(e.tag)
          }, [
            photo
          ])._open(e.href);

          dom._child(row);
          delay_observer.observe(photo);

          offsetAry[i] += (rw / ratio) + gap;

          if (e.href !== ary.$(-1).href) return;

          "body-portfolio".$._child(dom);
          "body-portfolio".$._style({
            height: `${Math.max(...offsetAry) + 16 * 3}px`
          });
        }, 0);
      });

      let resizeTimer, resizeW = document.body.clientWidth;
      window.onresize = function () {
        clearTimeout(resizeTimer);

        if (resizeW != document.body.clientWidth) resizeTimer = setTimeout(() => {
          resizeW = document.body.clientWidth;
          clearTimeout(resizeTimer);

          updatePortfolio();
        }, 300);
      };
    }
  });

  function updatePortfolio() {
    const filterKey = "body-portfolio".$.$attr("filter-key") ? "body-portfolio".$.$attr("filter-key").toUpperCase() : "ALL";
    const isAll = filterKey === "ALL";
    const filterExist = "body-portfolio".$.$child(0) ? "body-portfolio".$.$child(0).tagName === "UL" : false;
    const gap = 32;
    const vw = document.body.clientWidth;
    const vh = document.body.clientHeight;
    const mw = (vw >= 1024 ? 1024 : vw) - 32;
    const rw =
      vw >= 1024 ? Math.floor((mw - gap * 2) / 3) :
        vw >= 480 ? Math.floor((mw - gap) / 2) : mw;
    let offsetAry =
      vw >= 1024 ? filterExist ? [80, 80, 80] : [0, 0, 0] :
        vw >= 480 ? filterExist ? [80, 80] : [0, 0] : filterExist ? [80] : [0];

    "body-portfolio".$._class("updating").$childAll.forEach((e, i) => {
      if (e.tagName === "UL") return;
      let timer = setTimeout(function () {
        clearTimeout(timer);

        const h = Math.min(...offsetAry);
        const i = offsetAry.$i(h);
        const ratio = vw >= 480 ? Number(e.$attr("ratio")) : 16 / 10;
        const filterTag = e.$attr("filter-tag").toUpperCase();
        const isTag = isAll ? true : filterTag === filterKey;

        e._style({
          top: `${offsetAry[i]}px`,
          left: `${isTag ? 16 + (rw + gap) * i : -rw - gap}px`,
          width: `${rw}px`,
          height: `${rw / ratio}px`,
          opacity: isTag ? 1 : 0
        });
        offsetAry[i] += isTag ? (rw / ratio) + gap : 0;

        "body-portfolio".$._style({
          height: `${vh}px`
        });

        if (e !== "body-portfolio".$.$child(-1)) return;

        "body-portfolio".$._style({
          height: `${Math.max(...offsetAry) + 3 * 16}px`
        });

        "body-portfolio".$.class_("updating");
      }, i * 2);
    });
  };
</script>